*.nc filter=lfs diff=lfs merge=lfs -text
*.nc4 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bufr filter=lfs diff=lfs merge=lfs -text
src/ncep/xx120 filter=lfs diff=lfs merge=lfs -text
