*.nc filter=lfs diff=lfs merge=lfs -text
*.nc4 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bufr filter=lfs diff=lfs merge=lfs -text
*.DBL filter=lfs diff=lfs merge=lfs -text
*.odb filter=lfs diff=lfs merge=lfs -text
src/ncep/xx120 filter=lfs diff=lfs merge=lfs -text
*.bufr_d filter=lfs diff=lfs merge=lfs -text
*.grib filter=lfs diff=lfs merge=lfs -text
*.grib2 filter=lfs diff=lfs merge=lfs -text
test/testinput/bufr_tables/** filter=lfs diff=lfs merge=lfs -text
*.radiosonde filter=lfs diff=lfs merge=lfs -text
